* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.leaflet-container {
  flex: 1;
  height: 400px;
}
.mainWindow {
  display: flex;
  width: 90%;
  margin: auto;
  border: 1px solid #f2884b;
  border-radius: 15px 0px 0px 15px;
}

aside {
  padding: 10px;
  border-radius: 15px 0px 0px 15px;
  width: 250px;
  background-color: #0d0d0d;
}

h2 {
  text-align: center;
  color: #f24822;
}

.descriptionContainer {
  width: 200px;
  height: 100px;
  margin: 20px auto 0px auto;
  background-color: #57b7f2;
  border-radius: 20px;
  box-shadow: -1px -1px 9px rgba(0, 0, 0, 0.183);
  /* border: 1px solid white; */
}
